{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- //banner-top -->
<!-- banner -->
<div class="page-head">
    <div class="container">
        <h3>Check Out</h3>
    </div>
</div>
<!-- //banner -->
<!-- check out -->
<div class="checkout">
    <div class="container">
        <h3>My Shopping Bag</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub" id="items">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href=" {% static 'mens.html' %} "><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Shopping</a>
            </div>
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Shopping basket</h4>
                <ul id="itemli">
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
    <script>
     if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    console.log(cart);
    var sum = 0;
    var total2 = 0;
    if ($.isEmptyObject(cart)) {
        // If object is empty
        mystr = "<p>Your cart is empty, please add some items before checking out ! </p>"
        $('#items').append(mystr);
    }


    for (item in cart) {

        let name = cart[item][1];
        let qty = cart[item][0];
        let singleprice = cart[item][2];
        let imgsrc = cart[item][4];
        sum = sum + qty;
        total = cart[item][3];
        total2 = total2 + total;
        mystr = `
        <tr class="rem1" id="trspam${item}">
                    <td class="invert-closeb">

                        <div class="rem">
                            <button id="clsbtn${item}" onclick="deleteitem(this.id)" class="btn close1">
                            <div class=""></div>
                            </button>
                        </div>

                    </td>
                    <td class="invert-image"><a href=" {% static 'single.html' %} "><img src='${imgsrc}' alt=" " class="img-responsive" id="img${item}" /></a></td>
                    <td class="invert">
                        <div class="quantity">
                            <div class="quantity-select">
                                <button id="btnminus${item}" onclick='minusbtn(this.id , ${item})' class=" entry value-minus"><div class=""></div></button>
                                <div class="entry value "><span id="qty${item}">${qty}</span></div>
                                <button id="btnplus${item}" onclick='plusbtn(this.id, ${item} )' class = " entry value-plus active "><div class=""></div></button>
                            </div>
                        </div>
                    </td>
                    <td class="invert">${name}</td>
                    <td class="invert">Rs.${singleprice}</td>
                    <td class="invert">Rs.<span id= "singletotal${item}">${total}</span></td>
                </tr>`


        mystrli = `<li>${name} <i>-</i> <span>${total}</span></li>`;
        $('#itemli').append(mystrli);
        $('#items').append(mystr);
    }

    mystrtotal = `<li>
            <b>Total<i>-</i><span id="carttotal">0</span></b>
            </li>`;

    $('#itemli').append(mystrtotal);


     document.getElementById('carttotal').innerText = total2;

function minusbtn(clicked_id){
    var a = clicked_id.slice(8, );
     cart = JSON.parse(localStorage.getItem('cart'));
        cart[a][0] = cart[a][0] - 1;
        cart[a][0] = Math.max(0, cart[a][0]);
        updateCart(cart);
        document.getElementById("qty"+a).innerHTML = cart[a][0].toString();
        document.getElementById("singletotal"+a).innerHTML = cart[a][3].toString();

}


function plusbtn(clicked_id){
    var a = clicked_id.slice(7, );
    cart = JSON.parse(localStorage.getItem('cart'));
    cart[a][0] = cart[a][0] + 1;
    updateCart(cart);
    document.getElementById("qty"+a).innerHTML = cart[a][0].toString();
    document.getElementById("singletotal"+a).innerHTML = cart[a][3].toString();
}


    $('#itemsJson').val(JSON.stringify(cart));
    $('#itemnum').val(Object.keys(cart).length);
    $('#finaltotal').val(total2);

</script>
{% endblock content %}
